body {
    color: lightgreen;
    font-family: monospace;
    background-color: black;
}

#console {
    margin-top: 30px;
    padding: 10px;
    border: 2px lightgreen solid;
    overflow: scroll;
    height: 250px;
}

#console > h3 {
    text-decoration: underline;
}